body {
  background-image: url("../public/photo-1488998427799-e3362cec87c3.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-bottom: 20px;
}

.Completed {
  background-color: rgba(0, 145, 65, 0.1);
  border: 1px solid rgba(0, 145, 65, 0.95);
  background-image: linear-gradient(
    rgba(0, 145, 65, 0.1) 1.5px,
    transparent 1.5px
  ),
  linear-gradient(to right, rgba(0, 145, 65, 0.1) 1.5px, transparent 1.5px);
background-size: 10px 10px;
}
.NotCompleted {
  background-color: rgba(145, 0, 0, 0.1);
  border: 1px solid rgba(145, 0, 0, 0.95);
  background-image: linear-gradient(
    rgba(145, 0, 0, 0.1) 1.5px,
    transparent 1.5px
  ),
  linear-gradient(to right, rgba(145, 0, 0, 0.1) 1.5px, transparent 1.5px);
  background-size: 10px 10px;

}
.Completed:hover {
  background-color: rgba(0, 145, 65, 0.3);
}
.NotCompleted:hover {
  background-color: rgba(145, 0, 0, 0.3);
}
.active {
  background-color: #2b2d42 !important;
  color: white;
}
